# Server configuration
PORT=4000

# MongoDB connection
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.<your-cluster-id>.mongodb.net

# Cloudinary configuration
CLOUDINARY_API_KEY=<your-cloudinary-api-key>
CLOUDINARY_SECRET_KEY=<your-cloudinary-secret-key>
CLOUDINARY_NAME=<your-cloudinary-cloud-name>

# JWT secret key
JWT_SECRET=<your-jwt-secret>

# Admin credentials
ADMIN_EMAIL=<your-admin-email>
ADMIN_PASSWORD=<your-admin-password>
