name: vite-frontend CI/CD

on:
 push:
   branches: 
     - "main"
 workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: checkout code
      uses: actions/checkout@v6